@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;900&family=Overpass:ital,wght@0,300;0,700;1,400&display=swap");

* {
	box-sizing: border-box;
	font-family: "Overpass", sans-serif;
	/* background: navy; */
}

html,
body {
	margin: 0px;
	padding: 0px;
	font-family: "Noto Serif JP", serif;
	font-size: 18px;
	scroll-behavior: smooth;
	/* background: navy;
	color: #ccc; */
}

a:link,
a:visited {
	font-weight: bold;
	color: #ff0080;
}

a:hover {
	color: #fee3e9;
	transition: all 0.4s ease;
}

h1 {
	font-size: 3em;
	line-height: 1;
}

#intro {
	width: 80%;
	max-width: 800px;
	margin: 0 auto 5em;
	min-height: 70vh;
}

#kyoto1200 {
	display: flex;
	position: relative;
}

#sub {
	width: 30%;
	height: 100vh;
	position: sticky;
	top: 0;
	background-color: rgba(211, 211, 211, 0.3);
}

.label,
.angle-legend-label {
	font-size: 10px;
}

.legendTitle,
.angle-legend-title {
	font-size: 0.8em;
}

#draggable-line {
	opacity: 0.5;
	cursor: grab;
}

#main {
	width: 70%;
}

#kyoto1200__histogram {
	height: 30vh;
	position: sticky;
	top: 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 25%,
		rgba(255, 255, 255, 1) 100%
	);
	z-index: 1;
}

#kyoto1200__scatterplot {
	height: calc(100vh + 3000px);
	position: relative;
}

.x-axis-label {
	font-size: 0.6em;
	text-anchor: end;
}

.y-axis-s > path,
.y-axis-s > * > line {
	opacity: 0;
}

.y-axis-s > * > text {
	font-size: 2em;
	font-weight: bold;
}

.angle-legend,
.scatterplot-petal,
.histogram-petal {
	transform-box: fill-box;
	transform-origin: center;
}

.histogram-petal {
	display: none;
	opacity: 0;
}

.histogram-petal-active {
	display: block;
	opacity: 1;
	transition: all 0.4s ease;
}

.count {
	font-size: 10px;
	text-anchor: middle;
	opacity: 0;
}

.histogram-tooltip,
.scatterplot-tooltip,
.rader-tooltip,
.rader-zoomed-tooltip {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 220px;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	font-size: 0.75em;
	padding: 0.5em 1em;
}

article {
	width: 80%;
	max-width: 600px;
	margin: 10em auto;
}

/* ------------- RADAR ------------- */
#rader-sample {
	margin: 10em auto;
	display: flex;
	position: relative;
}

#rader-sample__chart {
	height: 100vh;
	position: sticky;
	top: 0;
}

#rader-sample__explanation {
	margin: 5em auto;
}

.arrow {
	position: absolute;
	top: 60%;
	left: 60%;
	opacity: 0;
}

.step {
	position: relative;
	min-height: 70vh;
	width: 100%;
	padding: 0 3em;
	display: flex;
	align-items: center;
	opacity: 0.1;
}

.step-active {
	opacity: 1;
}

#rader-chart__container {
	display: flex;
}

#rader-chart {
	width: 60%;
	height: 100vh;
	position: relative;
}

.rader-zoomed__text {
	transform: scale(0.3);
}

#rader-zoomed-chart {
	position: relative;
}
